<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to the chatroom, {{ username }}!</mat-card-title>
    <mat-card-subtitle>
      Chatting with yourself<span *ngFor="let user of users$ | async">, {{ user }} </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="message-container" cdkScrollable>
    <mat-chip-list class="mat-chip-list-stacked">
      <div *ngFor="let message of messages$ | async as messages; index as i; first as isFirst"
           [ngClass]="{ 'chip-container': true, mine: username === message.username }" >
        <div class="mat-caption"
             *ngIf="username !== message.username && (isFirst || messages[i - 1].username !== message.username)">
          {{ message.username }} says
        </div>
        <mat-chip class="message"
                  color="primary"
                  [selected]="username === message.username"
                  [disableRipple]="true">
          {{ message.content }}
        </mat-chip>
      </div>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-content>
    <form autocomplete="off" (submit)="sendMessage($event)">
      <mat-form-field>
        <input matInput placeholder="Say something..." [(ngModel)]="messageContent" name="message" />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
