mat-card {
  max-width: 600px;
  width: 100vw;
}

.message-container {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.message {
  width: auto !important;
  height: auto;
  max-width: 300px;
  margin-right: 20px !important;
}

.mine {
  align-self: flex-end;
}

mat-form-field {
  width: 100%;
}
